main {
  padding: 80px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
}

input, textarea {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  margin: 15px 0;
}

form button {
  background-color: #006dfb;
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}
