* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: #036b52;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border-bottom: 8px solid #2fc18c;
}

header a {
  color: white;
  text-decoration: none;
}

header section {
  display: flex;
  align-items: center;
}

header section nav {
  margin-right: 50px;
}

header img {
  width: 67.2px;
}

header button {
  background-color: #2fc18c;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
